<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     {{>navdesign}}
</head>
<body>
    {{>navbar}}
    <h1>Welcome to very exited backend System</h1>
    <h3>Here we will do all operations regarding databases</h3>
    
</body>
</html>