{{!-- npm run dev --}}
{{!-- dev is script for running nodemon in .json file --}}

<navbar>
    <div class="nav">
        <div><a href="/index">HOME</a></div>
        <div><a href="/register">REGISTER</a></div>
        <div><a href="/login">LOGIN</a></div>
    </div>
</navbar>